mixin footer()
	+b.FOOTER.footer#footer
		.container
			.row
				.col-12.col-md-auto.text-center
					+e.logo(href="/")
						+icon('logo')
						//- img(src="img/svg/logo.svg", alt="")
				.col-12.col-md.order-md-first.text-center.text-md-start
					+e.copyright © #[span.currentYear] ООО «Поволжская Металлоломная Компания»
					+e.policy(href="#") Политика конфиденцильности
				.col-12.col-md
					+e.developer Разработка сайта – #[a(href="https://t.me/arts_man" target="_blank") Artsman] 

