
mixin modal() 
	//  start modals
	//- a(href="modal-thanks").link-modal-js modal-call 
	div(id="modal-thanks" style="display: none")
		+b.modal-win--thanks
			.container
				+b.section-title.text-center
					h2 Спасибо за обращение!
					p Мы свяжемся с Вами в течение дня для уточнения деталей вопроса.
					+e.BUTTON.btn.modal-close-js Закрыть
	// #modal-thanks
	
	// end modals