mixin sOurClients(data)
	// start sOurClients
	+b.SECTION.sOurClients.section#sOurClients&attributes(attributes)
		.container
			+b.section-title
				.row.align-items-center
					.col
						h2 Наши клиенты
					.col-auto.d-none.d-md-block
						+e.arrows
							+arrow
			+e.slider--js.swiper
				.swiper-wrapper
					mixin slide(i)
						+e.slide.swiper-slide
							+e.item
								+pic(`sOurClients-${i}.png`, '', 0)
					+slide(1)
					+slide(2)
					+slide(3)
					+slide(4)
					+slide(1)
					+slide(2)
					

