mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+b.section-title
				.row
					.col-lg-6
							h2 О компании
					.col-lg-6
						p Компания имеет кадровое ядро, представленное высококвалифицированными управленцами и&nbsp;исполнителями с&nbsp;опытом работы более 20&nbsp;лет.
						p Материально технические ресурсы предприятия позволяют выполнять демонтажные работы любого объема и&nbsp;сложности во&nbsp;всех регионах&nbsp;РФ.
			+e.map
				+e.img-wrap-sm
					img(src="img/svg/map-sm.svg", alt="")
				+e.img-wrap-lg
					img(src="img/svg/map-lg.svg", alt="")
				+pic('sAbout-md.jpg', 'bg').bg-wrap
				+e.head-office
					span Самара
					span Головной офис
			.row.align-items-end
				.col-lg-6
					h6 География присутствия
					ul
						mixin item(t)
							li
								span!= t
						+item('Самарский грузовой речной порт')
						+item('Отрадный')
						+item('Кинель-Черкассы')
						+item('Похвистнево')
						+item('Чапаевск')
						+item('Приволжье')
						+item('Саратов')
						+item('Оренбургcкая область')
						+item('Ижевск')
						+item('Московская область')
						+item('Курган')
						+item('Краснодарский край')
						+item('Ямало-Ненецкий АО')
						+item('Ханты-Мансийский АО')
				.col-lg-6.d-none.d-lg-block
					+pic('sAbout-md.jpg', 'bg').bg-wrap


	// end sAbout