extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sAreasOfActivity/_sAreasOfActivity.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sOurClients/_sOurClients.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page'
	- let  bg= 'main.jpg'

block title
	- let  title= 'Поволжская Металлоломная Компания в Самаре'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
	//- +topLine()
	+headerBlock()
	//- +sAreasOfActivity()
	//- +sAbout()
	//- +sAdvantages()
	+sOurClients()
	+sContact()
	+sForm()
	+footer()




