mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
		+e.title Меню
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
			+e.title Закрыть
		+e.inner
			.container
				+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col
					.row
						.col-auto
							+menu-toggle()
						.col-auto.d-none.d-lg-block.d-xxl-none
							+e.location
								+icon('pin')
								span Самара, ул. Земеца, д. 32
				.col-auto
					+e.logo(href="/")
						+icon('logo')
					//- .menu-mobile.menu-mobile--js
					//- 	+menu-toggle()
					//- 	+mnu()
				.col
					.row.justify-content-end
						.col-auto.d-none.d-xxl-block
							+e.location
								+icon('pin')
								span Самара, ул. Земеца, д. 32
						.col-auto.d-none.d-lg-block
							+e.email(href="mailto:info@pmksite.ru") info@pmksite.ru
						.col-auto
							+e.tel(href="tel:+78463720959") +7 (846) 372-09-59

	// end top-nav