.top-nav {
	// background: svg-load('../svg/check.svg',  stroke=$primary);
	//
	@include mt;
	background-color: transparent;
	padding-top: rem(30);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 998;
	color: $white;
	font-size: rem(18);
	line-height: 125%;
	@include media-breakpoint-up(sm) {
		font-size: rem(14);
	}

	@include media-breakpoint-up(lg) {
		// background-color: red;
	}
	@include media-breakpoint-up(xl) {
		// background-color: #000;
		// border: 1px solid #000;
	}
	@include media-breakpoint-up(xxl) {
		padding-top: rem(40);
	}
	&::before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #23282d, $alpha: 0.5);
		backdrop-filter: blur(10px);
		opacity: var(--op,0);
		@include mt;
		z-index: -1;
	}
	&.fixed {
		padding-top: rem(12);
		padding-bottom: rem(12);
		--op: 1;
	}
	.container {
		@include media-breakpoint-up(xxl) {
			max-width: 1800px;
		}
	}
	.row {
		align-items: center;
	}
	p {
		@include ell();
	}
	&__logo {
		display: inline-block;
		.icon {
			font-size: rem(56);
			color: $primary;
			@include media-breakpoint-between(sm, xxl) {
				font-size: rem(42);
			}
		}
	}
	&__email {
		display: inline-block;
		position: relative;
		font-size: inherit;
		line-height: 125%;
		color: rgba($color: $white, $alpha: 0.7) !important;

		&:before {
			content: "";
			@include mt;
			position: absolute;
			width: 100%;
			height: 1px;
			left: 0;
			bottom: -1px;
			border-bottom: 1px dashed rgba($color: $white, $alpha: 0.7);
		}
		&:hover {
			&:before {
				opacity: 0;
			}
		}
	}

	&__tel {
		display: inline-block;
		font-weight: bold;
		font-size: inherit;
		color: $white;
	}

	&__location {
		display: flex;
		align-items: center;
		.icon {
			font-size: rem(16);
			color: $primary;
			margin-right: rem(12);
		}
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
