mixin sAreasOfActivity(data)
	// start sAreasOfActivity
	+b.SECTION.sAreasOfActivity.section#sAreasOfActivity&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sAreasOfActivity
				
			.row
	// end sAreasOfActivity